@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body{
    margin:0;
    padding:0;
}
.heading{
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size:40px;
    color:brown;
    justify-content: center;
    padding-left:50px;
    letter-spacing: 2px;
    font-weight:1px;
    padding-top: 15px;
}
.center{
    text-align: center;
}
.paragraph{
    font-family: 'Acme', sans-serif;
    font-size:20px;
    color:black;
}
.font {
    font-family: 'Acme', sans-serif;
    padding: 7px 20px;
    margin: -4px 1px;
    font-size: 20px;
    color:black;
}
.left{
    border: 2px solid grey;
    margin: 12px 8px;
    padding: 23px 27px;
    width: 378px;
    height: 140px;
}
.middle{
    padding-top: 24px;
    border: 2px solid grey;
    width: 410px;
    height: 163px;
    margin: 14px 4px;
}
.right{
        margin-left: 9px;
        padding-top: 24px;
        border: 2px solid grey;
        width: 418px;
        height: 163px;
        margin-right: 19px;
}
.navbar{
   margin: auto;
   display: flex;
   height: auto;
   background: linear-gradient(rgb(18, 183, 212),rgb(221, 221, 243));  
   border: 2px solid black;
   text-align: center;
}
.logo{
    width: 8%;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.section1{
    padding: 2px 95px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 48px;
    margin-top: 10px;
}
.section2{
    padding: 2px 95px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 48px;
}
.section3{
    padding: 2px 93px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 48px;
}
.section4{
    padding: 2px 93px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 48px;
}
.section5{
    padding: 2px 93px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 48px;
}
.container , .container1{
    border: 2px solid grey;
    margin: 16px 6px;
}
.container {
    width: 380px;
    height: 171px;
}
.container1 {
    width: 405px;
    height: 193px;
}
.container20 {
    width: 420px;
    height: 192px;
}
.container h1 {
    margin-top: 47px;
    padding: 1px;
    font-size: 26px;
    margin-left: -163px;
}
.container1 h1 {
    margin-top: 36px;
    margin-left: -265px;
    padding-top: 13px;
    font-size: 28px;
}
.container p {
    margin-top: -8px;
    padding: 12px 0px;
    margin-left: 23px;
}
.container1 p {
    line-height: 20px;
    margin-left: 27px;
}
.container20 p {
    padding: 7px 20px;
    line-height: 7px;
}
.section1 div{
    background: linear-gradient(rgb(25, 190, 255),white);
}
.section2 div{
    background: linear-gradient(rgb(25, 190, 255),white);
}
.section3 div{
    background:linear-gradient(rgb(25, 190, 255),white);
}
.section4 div{
    background:linear-gradient(rgb(25, 190, 255),white);
}
.section5 div{
    background:linear-gradient(rgb(25, 190, 255),white);
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
 @media only screen and (min-width:360px) and (max-width:640px){
    .navbar{ 
    margin-left: 0px;
    margin-top: 16px;
    width: 640px;
    }
    .logo {
    width: 30%;
    padding-left:29px;
    padding-top: 4px;
    padding-bottom: 6px;
    }
    .heading {
    font-size: 37px;
    padding-left: 28px;
    padding-top: 11px;
    }
    .paragraph{
        font-size:18px;
    }
    .font {
        padding: 10px 17px;
    }
    .left {
        width: 281px;
        height: 155px;
        text-align: center;
        margin-left: 303px;
        margin-top:23px;
    }
    .middle {
        width: 334px;
        height: 155px;
        margin: 16px 2px;
        text-align: center;
        margin-top: 19px;
    }
    .right {
        width: 334px;
        height: 177px;
        margin-left: 318px;
        text-align: center;
        margin-top: 11px;
    }
    .container {
        width: 284px;
        height: 172px;
        margin-left: 1px;
    }
    .container1 {
        width: 337px;
        height: 197px;
    }
    .container20{
        margin-left: 20px;
    }
    .container4 {
        margin-left: 294px;
    }
    .container6{
        margin-left:297px;
    }
    .container7{
        margin-left:288px;
    }
    .container8{
        margin-left:301px;
    }
    .container9{
        margin-left:287px;
    }
    .container10{
        margin-left:280px;
    }
    .container11{
        margin-left:294px;
    }
    .container12{
        margin-left:280px;
    }
   .container13{
        margin-left:271px;
    }
    .container14{
        margin-left:288px;
    }
    .container h1 {
        margin-top: 43px;
        padding: 10px;
        font-size: 25px;
        margin-left: 18px;
    }
    .container1 h1 {
        margin-top: 43px;
        padding-top: 13px;
        padding-right: -45px;
        font-size: 28px;
        margin-left: -34px;
    }
    .container p {
        margin-top: -8px;
        margin-left: 4px;
        text-align: center;
    }
    .container1 p {
        line-height: 20px;
        margin-left: -12px;
    }
    .container20 p {
        padding: 0px 25px;
        line-height: 19px;
    }
    .section1 {
        flex-direction: column;
        margin-left: 231px;
        margin-right: 73px;
    }
    .section2 {
        flex-direction: column;
        margin-left: 42px;
        margin-right: 44px;
    }
        .section3{
            flex-direction: column;
        }
        .section4{
            flex-direction: column;
        }
        .section5{
            flex-direction: column;
        }
        footer {
            margin: 11px 0px;
            padding: 9px 20px;
            width: 168%;
        }      
}